.message-container {
    background-color: #787CD1;
    border-radius: 1rem;
    width: 85%;
    padding: 1rem;
    margin: 2rem;
}

.message-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-author{
    font-style: italic;
    margin-left: 125px;
}

.message-date{
    
}